@page "/demohotel"
@using Model


<h3>We will display hotel rooms and amenities here!</h3>
<div class="bg-light border p-2">
    <h4>Room List [USING COMPONENT]</h4>
    <span>Rooms Selected - @SelectedRooms</span>

    <div class="d-flex">
        @foreach(var room in RoomsList)
        {
            <IndividualRoom OnRoomCheckboxSelection="RoomSelectionCounterChanged" Room="@room"/>
        }
    </div>

    <h4>Hotel Amenitie's [ASSIGNMENT]</h4>

    <div class="d-flex">
        @foreach(var amenity in AmenitiesList)
        {
            <IndividualAmenity OnSelectAmenity="@AmenitySelectionChanged" Amenity="@amenity">
                <Fragment1>
                    1
                </Fragment1>
                <Fragment2>
                    2
                </Fragment2>
            </IndividualAmenity>
        }
    </div>

</div>
Selected Amenity: @SelectedAmenity

@code
{
    public string SelectedAmenity { get; set; } = "";
    public int SelectedRooms { get; set; } = 0;
    List<BlazorRoom> RoomsList = new();
    List<Amenity> AmenitiesList = new();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        RoomsList.Add(new BlazorRoom()
        {
            Id = 1,
            RoomName = "Room 1",
            IsActive = true,
            Price = 499,
            RoomProps = new()
            {
                new BlazorRoomProp { Id = 0, Name = "TVs", Value = "2" },
                new BlazorRoomProp { Id = 1, Name = "IPads", Value = "1" },
                new BlazorRoomProp { Id = 2, Name = "Phones", Value = "3" },
            }
        });
        RoomsList.Add(new BlazorRoom()
        {
            Id = 2,
            RoomName = "Room 2",
            IsActive = true,
            Price = 599,
            RoomProps = new()
            {
                new BlazorRoomProp { Id = 0, Name = "TVs", Value = "10" },
                new BlazorRoomProp { Id = 1, Name = "IPads", Value = "10" },
                new BlazorRoomProp { Id = 2, Name = "Phones", Value = "30" },
            }
        });

        AmenitiesList.Add(new Amenity()
        {
            Id = 101,
            Name = "Pool",
            Description = "Olympic Pool"
        });

        AmenitiesList.Add(new Amenity()
        {
            Id = 202,
            Name = "Gym",
            Description = "Awesome Gym"
        });

    } 
    protected void RoomSelectionCounterChanged(bool isRoomSeleted)
    {
        if (isRoomSeleted)
        {
            SelectedRooms++;
        }
        else
        {
            SelectedRooms--;
        }
        
    }

    protected void AmenitySelectionChanged(string amenityName)
    {   
        SelectedAmenity = amenityName;
    }
}
