@page "/learnrouting"
@page "/learnrouting/{id}"
@page "/learnrouting/{id}/{name}"
@page "/randomurl"

<h3>Learn Routing</h3>

<h4>id: @Id</h4>
<h4>Name: @Name</h4>
<NavLink class="btn btn-secondary" href="learnadvancedrouting?p1=blazzing&p2=awesome">
    <span class="oi oi-list-rich" aria-hidden="true"></span> Routing with Query Param
</NavLink>

@code
{
  [Parameter]
  public string Id { get; set; }

  [Parameter]
  public string Name { get; set; }
}