@page "/parentcomponent"

<h3 class="text-danger">Parent Component</h3>

@* <ChildComponent Title="This title is passed as a parameter" >
  This info is passed from parent
</ChildComponent>

<ChildComponent Title="This is the second component (empty)" >
  
</ChildComponent> *@
<ChildComponent  OnClickBtnMethod="ShowMessage" Title="This is the third component (not empty)" >
  <ChildContent>
    Oi
  </ChildContent>
  @* <ChildContent2>
    Oi
  </ChildContent2> *@
</ChildComponent>

<p>@messageText</p>

<AnotherChildComponent Placeholder="Ente the Room Name" MaxLength="5"/>

@code
{
  private string messageText = "";

  private void ShowMessage(MouseEventArgs e)
  {
    messageText = "Blazzing text from parent";
  }
}