@page "/parentcomponent"

<h3 class="text-danger">Parent Component</h3>

<ChildComponent Title="This title is passed as a parameter" >
  This info is passed from parent
</ChildComponent>

<ChildComponent Title="This is the second component (empty)" >
  
</ChildComponent>
<ChildComponent Title="This is the third component (not empty)" >
  Oi
</ChildComponent>

@code
{

}