@using Model

<div class="bg-white border p-4" @onclick="(args) => AmenitySelection(args, Amenity.Name)">
    <p>Amenity - @Amenity.Id</p>
    <p>@Amenity.Name</p>
    <p>@Amenity.Description</p>
    <EditDeleteButton IsAdmin="false" />
</div>

@code
{
    [Parameter]
    public Amenity Amenity { get; set; }

    [Parameter]
    public EventCallback<string> OnSelectAmenity { get; set; }

    protected async Task AmenitySelection(MouseEventArgs e, string name)
    {
        await OnSelectAmenity.InvokeAsync(name);
    }
}
