<h1>Counter Children</h1>

@foreach (var item in EventType)
{
    @item
    <hr />
}

@code
{
    List<string> EventType = new();

    [Parameter]
    public int CountValue { get; set; }

    protected override void OnInitialized()
    {
        EventType.Add("OnInitialized called");
    }

    protected override void OnParametersSet()
    {
        EventType.Add("OnParametersSet called");
    }
}
